* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
position: relative;
  max-width: 600px;
  min-width: 580px;
  margin: auto;
  background-color: #ddd;
  bottom: -100px;
}

.header {
  box-shadow: 1px 4px 38px 1px rgba(0, 0, 0, 0.75);
}

.body-container {
  display: flex;
}

.header {
  padding: 0 !important;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  justify-content: center;
  background-color: #f55a5a;
  color: #fff;
}

.header::before {
  content: "";
  background-image: url(https://cdn.pixabay.com/photo/2016/04/24/04/53/globe-1348777_640.png);
  height: 30px;
  width: 30px;
  margin-top: 1%;
  padding-right: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  padding: 10px;
}

.card img {
  height: 168px;
  width: 140px;
  left: 33px;
  top: 93px;
  border-radius: 5px;
}

.right-card {
  padding-left: 15px;
}

.link-location {
  display: flex;
  align-items: center;
}

.link-location a {
  padding-left: 15px;
}

.location{
Font-size: 10.24px;
Line-height: 120px;
Line-height: 100%;
Vertical-align: Top;
Letter-spacing: 4px;

}

.location::before {
  content: "";
  background-image: url(https://cdn.pixabay.com/photo/2016/04/24/04/53/globe-1348777_640.png);
  height: 30px;
  width: 30px;
  position: relative;
  top: 8px;
  padding: 8px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
}

.date {
  padding: 8px 0;
  font-size: 10.24px;
  font-weight: bold;
}

.info {
  font-size: 10.24px;
  line-height: 25px;
}

a {
  font-size: 10.24px;
}

.name{
  padding: 8px 0;
}
